.recipe {
    border: 2px solid black;
    border-radius: 50px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
}

.recipe ul, ol {
    justify-content: left;
    list-style-position: inside;
}